{
	admin off
	auto_https off
	servers :${https_port} {
		protocols h1 h2
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 127.0.0.1/32
			}
			tls
		}
	}
	servers :${http_port} {
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 127.0.0.1/32
			}
		}
	}
}

:${https_port} {
	tls ${cert_dir}/cert.pem ${cert_dir}/key.pem
	@control_plane path ${control_plane_paths}
	reverse_proxy @control_plane ${control_plane_upstream}
	reverse_proxy ${web_upstream}
}

http://:${http_port} {
	redir https://{host}{uri} permanent
}

http://:${health_port} {
	respond /healthz 200
}
